*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.encabezado nav div img{
    width: 30px;
    border-radius: 50%;
}
.encabezado{
    background-color: forestgreen;
}
.encabezado nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.encabezado a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    padding: 12px 20px; 
    display: block;
}
.encabezado a:hover{
    background-color:gray;
}
.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
}
.encabezado nav ul li ul {
    position: absolute;
    background-color: forestgreen;

}
.encabezado nav ul li ul{
    display: none;
}
.encabezado nav ul li:hover ul{
    display: block;
}
.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 2px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: white; 
    padding-left: 30px; 
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: forestgreen; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: forestgreen; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  
  label{
    display: block; 
    float: center;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: forestgreen; 
    border-color: forestgreen; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: forestgreen; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: forestgreen;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  